<div class="header">
  <div class="menu"></div>
  <div class="searchbar">
    <div class="searchIcon">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 64 64"
        stroke-width="6"
        stroke="#fafafa"
        fill="none"
        class="duration-300 transform transition-all"
        style="width: 20px; height: 20px"
      >
        <circle cx="27.31" cy="25.74" r="18.1"></circle>
        <path d="M39.58 39.04L56.14 57"></path>
      </svg>
    </div>
    <input type="text" placeholder="Search" />
  </div>
  <div class="refresh"></div>
</div>
